
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
	<h3>Columbia Student Network</h3>
  
	Select the Company:  
	<form method="POST" action="/getJobs">
		<select name="company">
			{% for out in output %}
    			<option value="{{ out[0]}}">{{ out[1]}}</option>
			{% endfor %}
		</select>
		<button type="submit">Submit</button>
	</form>
	<div>
		<table>
			{% for n in jobs %}
			<tr>
    				<td>{{n[0]}}</td>
    				<td>{{n[1]}}</td>
   				<td>{{n[2]}}</td>
    				<td>{{n[3]}}</td>
			</tr> 
			{% endfor %} 
		</table>
	</div>
</body>
</html>
