<html>
  <style>
    body{ 
      font-size: 12pt;
      font-family: arial;
    }
  </style>

<body>
<h3>Columbia Student Network</h3>
<p> <a href="/">View Individual</a>&thinsp;&thinsp;&thinsp;&thinsp;
<a href="/university">List of Universities</a>&thinsp;&thinsp;&thinsp;&thinsp;
List of Companies&thinsp;&thinsp;&thinsp;&thinsp;
<a href="/adduser">Add New Individual</a>
</p>  
  </br><br>
	Select the Company:  </br></br>
	<form method="POST" action="/getJobs">
		<select name="company">
			{% for out in output %}
    			<option value="{{ out[0]}}">{{ out[1]}}</option>
			{% endfor %}
		</select></br>
		<button type="submit">Submit</button>
	</form>
	<div>
		<table style="width:50%">
			<caption><b>Job Information</b></caption>
			<tr>
  	 			<th>Title</th>
   				<th>Type</th>
   				<th>Description</th>
   				<th>Opening</th>
 			</tr>	
			{% for n in jobs %}
			<tr>
    				<td>{{n[0]}}</td>
    				<td>{{n[1]}}</td>
   				<td>{{n[2]}}</td>
    				<td>{{n[3]}}</td>
			</tr> 
			{% endfor %} 
		</table>
	</div>
</body>
</html>
