<html>
  <style>
    body{ 
      font-size: 12pt;
      font-family: arial;
    }
  </style>


<body>
<h2>Columbia Student Network</h2>
<p>View Student Information&thinsp;&thinsp;&thinsp;&thinsp; 
<a href="/university">List of Universities</a>&thinsp;&thinsp;&thinsp;&thinsp;
<a href="/company">List of Companies</a>&thinsp;&thinsp;&thinsp;&thinsp;
<a href="/adduser">Add New Individual</a>
</p>  
</br><br>

<!-- <form method="POST" action="/"> -->
	<p>Enter your Name: <input type="text" name="user_name"> <input type="submit" value="Submit"></p>
</form>


</body>


</html>

