<html>
  <style>
    body{ 
      font-size: 12pt;
      font-family: arial;
    }
  </style>


<body>
<h2>Columbia Student Network</h2>
<p><a href="/">View Student Information</a>&thinsp;&thinsp;&thinsp;&thinsp; 
<a href="/university">List of Universities</a>&thinsp;&thinsp;&thinsp;&thinsp;
<a href="/company">List of Companies</a>&thinsp;&thinsp;&thinsp;&thinsp;
<a href="/adduser">Add New Individual</a>
</p>  
</br>
  
<div>
    
    <div><!--<b>User id</b>:   {{output[0]}}</div><br>-->
    <div><b>Name</b>:  {{output[1]}}</div><br>
    <div><b>Graduation Date</b>: {{output[2]}}</div><br>
    <div><b>Major</b>:  {{output[3]}}</div><br>
    <div><b>Company</b>: {{output[4]}}</div><br>
    <div><b>Job</b>:  {{output[5]}}</div><br>
    <div><b>Job Type</b>:  {{output[6]}}</div><br>
    <h4>Skills</h4>
    <div>
    {% for n in skills %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  
  </div>

</body>


</html>
